<!DOCTYPE html>
<!-- ************************************************************************** -->
<!-- ************************************************************************** -->
<!-- ******************************* cars.html ******************************** -->
<!-- ************************************************************************** -->
<!-- ************************************************************************** -->
<!--  Filename : cars.html                                                      -->
<!-- ************************************************************************** -->
<!--  Creation Date : Jan 31, 2024, 4:58:46 PM                                  -->
<!-- ************************************************************************** -->
<!--  Last modified : Jan 31, 2024, 4:58:46 PM                                  -->
<!-- ************************************************************************** -->
<!--  Created by : Mad <coding>                                                 -->
<!-- ************************************************************************** -->
<!-- ************************************************************************** -->
<!-- ************************************************************************** -->
<!--                                                                            -->
<!--                    :::::   ::::::            ::::::::           :::::::    -->
<!--                  :+:   :+:+     +:+        :+:     :+:        :+:    :+:   -->
<!--                #:#     +:+     +:+       +:+      +:+       +:+       :+:  -->
<!--              +#+      #+#     +:+      +:+:+:+:+:+:+      +:+        :+:   -->
<!--            +#+       #:#     #+#     #+#        :+:     +:+         :+:    -->
<!--          +#+        #+#     #:#    +#+         #:#    #+#          :+:     -->
<!--        ###         ###     ###   ###          ###   #############.fr       -->
<!--                                                                            -->
<!-- ************************************************************************** -->

<html>
    <head>
        <title>Cars</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="aPath" media="all" data-th-href="@{'content/css/bootstrap.min.css'}" />
    </head>
    <body>
        <div>TODO write content</div>
        <div data-th-replace="fragments/footer :: footer"></div>
    </body>
</html>

<!-- ************************************************************************** -->
<!-- ******************************* CARS.HTML ******************************** -->
<!-- ************************************************************************** -->
