<p>
    <mat-toolbar color="primary">
        <span>Books App</span>
        <app-theme-toggle class="inline-flex-displayed"/>        
        <button mat-button class="ng-material-icon person-add-icon" aria-label="Angular icon-button with person-add icon">
            <mat-icon>person_add</mat-icon>
            <a mat-button routerLink="/user" routerLinkActive="active" ariaCurrentWhenActive="page">Create User</a>
        </button>

        <button mat-button class="ng-material-icon person-add-icon" aria-label="Angular icon-button with person-add icon">
            <mat-icon>login</mat-icon>
            <a mat-button routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
        </button>
    </mat-toolbar>
</p>