<!DOCTYPE html>
<!-- ************************************************************************** -->
<!-- ************************************************************************** -->
<!-- ****************************** footer.html ******************************* -->
<!-- ************************************************************************** -->
<!-- ************************************************************************** -->
<!--  Filename : footer.html                                                    -->
<!-- ************************************************************************** -->
<!--  Creation Date : Jan 31, 2024, 5:07:05 PM                                  -->
<!-- ************************************************************************** -->
<!--  Last modified : Jan 31, 2024, 5:07:05 PM                                  -->
<!-- ************************************************************************** -->
<!--  Created by : Mad <coding>                                                 -->
<!-- ************************************************************************** -->
<!-- ************************************************************************** -->
<!-- ************************************************************************** -->
<!--                                                                            -->
<!--                    :::::   ::::::            ::::::::           :::::::    -->
<!--                  :+:   :+:+     +:+        :+:     :+:        :+:    :+:   -->
<!--                #:#     +:+     +:+       +:+      +:+       +:+       :+:  -->
<!--              +#+      #+#     +:+      +:+:+:+:+:+:+      +:+        :+:   -->
<!--            +#+       #:#     #+#     #+#        :+:     +:+         :+:    -->
<!--          +#+        #+#     #:#    +#+         #:#    #+#          :+:     -->
<!--        ###         ###     ###   ###          ###   #############.fr       -->
<!--                                                                            -->
<!-- ************************************************************************** -->

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div data-th-fragment="footer">
            <script data-th-src="@{'/content/js/jquery-3.7.1.min.js'}" ></script>
            <script data-th-src="@{'/content/js/bootstrap.bundle.min.js'}" ></script>
        </div>
    </body>
</html>

<!-- ************************************************************************** -->
<!-- ****************************** FOOTER.HTML ******************************* -->
<!-- ************************************************************************** -->
